.dashboard{
    width: 100dvw;
    height: 100dvh;
    background-color: #000;
    display: flex;
    flex-flow: row;

}

.sections{
    background-color: var(--secondary-light-color);
    flex-grow: 1;
    overflow-y: auto;
}

.content{
    background-color: var(--primary-color);
    flex-grow: 8;
    overflow-y: auto;
}

@media screen and (max-witdh: 800px) {
    
}