.dashboard{
    width: 100dvw;
    height: 100dvh;
    background-color: #000;
    display: flex;
    flex-flow: row;

}

.sections{
    background-color: #fff;
    flex-grow: 1;
}

.content{
    background-color: var(--secondary-dark-color);
    flex-grow: 8;
}