.dash-user{
    display: flex;
    background-color: var(--secondary-light-color);
    color: var(--contrast-color);
    height: 6.5rem;
    padding: 10px;
}

.user-img{
    width: 6rem;
    align-content: center;
}

.user-img img{
    width: 75px;
    border-radius: 50%;
    padding: auto;
    top: 5px;
    bottom: 5px;
}

.user-data{
    padding-left: 8px;
    margin-top: 10px;
}

.user-data h3,h4{
    padding: 2px 0;
    margin: 0;
    margin-top: 2px;
    width: object-fit;
    width: none;
}

.user-data h4{
    font-weight: 300;
}
