

.dashtitle-container{
    background-color: var(--secondary-color);
    padding: 0 4rem ;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashtitle{
    color: var(--contrast-color);
}

.pusi{
    color: white;
    display: flex;
    gap: 3rem;
}