.forgot{
    width: 14rem;
    display: flex;
    justify-content: end;
}

.forgot span{
    color: var(--text-color);
    font-size: .6rem;
}

.forgot a{
    text-decoration: none;
    color:  var(--text-color);
}

.forgot a:hover{
    color: var(--contrast-color);;
}