.list-item-action{
    display: flex;
    gap: 10px;
}

.list-item-action a{
    text-decoration: none;
}

.list-item-action a:nth-child(2){
    color: red;
}

.list-item-action a:first-child{
    color: blue;
}
@media screen and(max-width: 800px) {
    .list-item-action{
        flex-direction: column;
    }
}

.list-item-action a:hover{
    text-decoration: underline;
}