.listhead{
    max-width: 98%;
    background-color: var(--secondary-dark-color);
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    color: var(--contrast-color);
    display: flex;
    font-size: 1rem;
}

.listitem{
    max-width: 98%;
    background-color: var(--contrast-color);
    padding: 10px;
    margin: 0 10px; 
    color: var(--text-color);
    display: flex;
    font-size: .9rem;

}

.col-nombre, .col-correo{
    width: 30%;
    overflow-x: hidden;
}

.col-usuario, .col-rol, .col-acciones{
    width: 15%;
    overflow-x: hidden;
}
.col-id{
    width: 5%;
}