:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  --primary-color: #dc9;
  --secondary-color: #f55;
  --secondary-dark-color: color-mix(in srgb, #f55 90%, #000 );
  --secondary-light-color: color-mix(in srgb, #f55 65%, #fff 20%);
  --third-color: #ddd;
  --contrast-color: #fff;
  --text-color: #333;


}

body, h1,h2,h3,h4,h5,h6, div, ul, li{
  box-sizing: border-box;
}

